{% extends 'admin/admin_header.html' %}
{% block body %}
<!--add modal start-->
<div class="row">
    <div class="col-sm-6 offset-2">

      <!-- Modal Header -->
      <h3 class="alert alert-success" style="margin-top:100px;">Add New Student</h3><br>
      <!-- Modal body -->
        <form action="" method="POST">
          {% csrf_token %}
          {{form.as_p}}
          <button type="submit" class="btn btn-success">Submit</button>
        </form>


    </div>
  </div>
  <!--add modal end-->
  {% endblock body %}