{% extends 'admin/admin_header.html' %}
{% block body %} 

<main class="mt-5 pt-3">
  <div class="container-fluid">
    <div class="row mt-4">
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message: </strong>{{ message }}
        <button id='closeModal' type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      {% endfor %}
      
      <div class="col-md-12 fw-3 ms-3 mt-4">
        <h2>Student's Detail</h2>
      </div>
      <div class="" style="margin-left:1250px;font-size:17px;">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal" style="border-radius:6px;"><a href="{% url 'admin/admin_manageStud/admin_addrecord' %}" style="color:white;text-decoration:none;"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add Record</a></button>
    </div>
    <form>
      {% csrf_token %}
    <div class="input-group">
      <div class="form-outline">
        <input type="search" id="form1" class="form-control" name="q" aria-label="Search" placeholder="enter name">
        
      </div>
      <button type="submit" class="btn btn-primary" style="font-size:12px;length:10px;height:40px;">
        <i class="bi bi-search"></i>
      </button>
  </div>
  </form>
    <div class="col-md-20 fw-1 ms-3 mt-5">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone No.</th>
            <th scope="col">Class</th>
            <th scope="col">Year</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        {% for stud in sdet%}
        <tbody>
          <tr>
            <td>{{stud.id}}</td>
            <td>{{stud.name}}</td>
            <td>{{stud.email}}</td>
            <td>{{stud.pno}}</td>
            <td style="text-transform:uppercase;">{{stud.sclass}}</td>
            <td>{{stud.year}}</td>
            <td>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal"
                style="border-color:1px black;border-radius:4px;background:white;"><a href="{% url 'admin/admin_manageStud/admin_updateStud' stud.id %}"><i class="bi bi-pen-fill"
                  style="color:green;"></i></a></button>
              &nbsp;<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteModal"
                style="border-color:1px black;border-radius:4px;background:white;"><a href="{% url 'admin/admin_manageStud/admin_deleteStudRecord' stud.id %}"> <i class="bi bi-trash-fill"
                  style="color:red"></i></a></button>
            </td>
          </tr>
        </tbody>
        {% endfor %}
      </table><br><br>
      <button class="btn btn-success" onclick="window.print()"  style="border-radius:6px;"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;Report</a></button>

</main>
{% endblock body %}
