<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        Dear Mr/Ms&nbsp;<b style="text-transform:capitalize;">{{name}}</b>,<br>
        I am pleased to extend the following offer of employment to you on behalf of <b style="text-transform:capitalize;">{{company_name}}</b> You have been selected as the best candidate for the <b style="text-transform:capitalize;">{{job_post}}</b> Congratulations!
        We hope you will enjoy your role and make a significant contribution to the overall success of <b style="text-transform:capitalize;">{{company_name}}</b>.
        Please take the time to review our offer. It includes important details about your compensation, benefits and the terms and conditions of your anticipated employment with <b style="text-transform:capitalize;">{{company_name}}</b>.<br>
        We look forward to welcoming you to the <b style="text-transform:capitalize;">{{company_name}}</b> team.<br>
        Contact us to ask any query related to offer letter.
         
    </body>
</html>