Subject line: Job offer from [insert your company’s name]

Dear Mr./Ms. cand_det.name,
I am pleased to extend the following offer of employment to you on behalf of cand_det.company_name You have been selected as the best candidate for the cand_det.job_post position. Congratulations!
 We hope you will enjoy your role and make a significant contribution to the overall success of cand_det.company_name.
Please take the time to review our offer. It includes important details about your compensation, benefits and the terms and conditions of your anticipated employment with cand_det.company_name.
We look forward to welcoming you to the cand_det.company_name team.
If you have any questions or need additional information, please don’t hesitate to contact.
Sincerely,
[insert your first name and last name
[insert your job position title]
[insert your company’s name]